
<div class="product col-md-6 {{if product.hidden 'hide'}}">
  <a {{action 'toggleImageSize'}} class="image {{if isWide "wide"}}">
    <img src="{{product.image}}" alt="product-image">
    <small>View Larger</small>
  </a>
  <h3>{{product.name}}</h3>
  <p>Buy it from: {{product.retailer}}</p>
  <p>Price: {{product.price}}</p>
  <a href="{{product.url}}" target="_blank">Buy it</a>
  <br>
  <button{{action 'toggleHidden' product}}>Hide Product</button>
</div>
