
<div class="product col-md-6 {{if product.hidden 'hide'}}">
  <a {{action 'toggleImageSize'}} class="image {{if isWide "wide"}}">
    <img src="{{product.image}}" alt="product-image">
    <small>View Larger</small>
  </a>
  <h4 class="title">{{product.name}}</h4>
  <p class="retailer">Buy it from: {{product.retailer}}</p>
  <p class="price">Price: {{product.price}}</p>
  <a href="{{product.url}}" class="link" target="_blank"><strong>Buy it</strong></a>
  <br>
  <button type="button" class="btn btn-primary"{{action 'toggleHidden' product}}><span class="glyphicon glyphicon-thumbs-down"></span>Hide Product</button>
</div>
