<h1>Hello World</h1>
<h2>This is Yuri's capstone.</h2>
<h2>Fukc.</h2>

<div class="search-box">
  <h4> I want....</h4>{{input type="text" value=search placeholder="search" class="search"}}
</div>


{{#each model as |product|}}
  <div class="product {{if product.hidden 'hide'}}">
    <img src={{product.image}} alt="product-image">
    <h3>{{product.name}}</h3>
    <p>Buy it from: {{product.retailer}}</p>
    <p>Price: {{product.priceLabel}}</p>
    <a href="{{product.url}}">Buy it</a>
    <br>
    <button{{action 'toggleHidden' product}}>Hide Product</button>
  </div>
{{/each}}
{{outlet}}
